@import "tailwindcss";

@theme {
  --color-mosque-50: #f5f8f2;
  --color-mosque-100: #e7ece1;
  --color-mosque-200: #cfdac4;
  --color-mosque-300: #afc0a0;
  --color-mosque-400: #8da17a;
  --color-mosque-500: #6d7a5b;
  /* Vert olive plus soutenu et chaud */
  --color-mosque-600: #576348;
  --color-mosque-700: #46503b;
  --color-mosque-800: #394231;
  --color-mosque-900: #2f362a;
  --color-mosque-950: #171c14;

  --color-mosque-gold-400: #fbe789;
  --color-mosque-gold-500: #F8D861;
  --color-mosque-gold-600: #f5c430;

  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #ffffff;
  --foreground: #020617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191c16;
    --foreground: #f4f5f2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  .glass-panel {
    @apply bg-white/70 dark:bg-black/40 backdrop-blur-md border border-white/20 dark:border-white/10 shadow-xl;
  }
}