@import "tailwindcss";

@theme {
  --color-mosque-50: #f4f5f2;
  --color-mosque-100: #e4e7df;
  --color-mosque-200: #cbcfc3;
  --color-mosque-300: #aeb4a3;
  --color-mosque-400: #939a85;
  --color-mosque-500: #767F68;
  --color-mosque-600: #5f6652;
  --color-mosque-700: #4a5140;
  --color-mosque-800: #3b4034;
  --color-mosque-900: #31362d;
  --color-mosque-950: #191c16;

  --color-mosque-gold-400: #fbe789;
  --color-mosque-gold-500: #F8D861;
  --color-mosque-gold-600: #f5c430;

  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #ffffff;
  --foreground: #020617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191c16;
    --foreground: #f4f5f2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  .glass-panel {
    @apply bg-white/70 dark:bg-black/40 backdrop-blur-md border border-white/20 dark:border-white/10 shadow-xl;
  }
}
